---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignOperands: false
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping: 
  AfterCaseLabel: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: false
IncludeCategories: 
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseBlocks: true
IndentWidth: 4
InsertNewlineAtEOF: true
MacroBlockBegin: ''
MacroBlockEnd: ''
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
TabWidth: 4
AlignAfterOpenBracket: DontAlign

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true   # 是否跨越空行进行对齐
  AcrossComments: true     # 是否跨越注释行进行对齐
  AlignCompound: true      # 是否也对齐 +=, -=, *= 等复合赋值
  PadOperators: true       # 在运算符周围添加空格
AlignTrailingComments:
  Kind: Always        # 强制对齐
  OverEmptyLines: 0   # 允许跨越多少个空行仍保持对齐组 (0表示空行打断对齐)
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
  PadOperators: true
  AcrossComments: true

AlignArrayOfStructures: Left
...
